* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
}

body {
  background-color: #141518;
  height: 100vh;
  width: 100%;
  color: #f0f8ff;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: #303336;
  border-radius: 12px;
}

.new-subject-form {
  display: flex;
}